// Navigation code here

.navigation {

    h1{
        font-size: 3.4rem;
        margin-top: 10px;
    }
    .flex();
    flex-direction: column;
    align-items: center;

    nav{
        .flex();
    }

    a {
        text-decoration: none;
        font-size: 2rem;
        color: @river-bend;
        margin:15px 10px ;
    }
}